.List {
  text-align: center;
}

.List-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.List-title {
  font-size: 1.5em;
}

.List-videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Fetch-gifs {
  background-color: lightgray;
  border: #222 1px solid;
  color: black;
  font-size: 20px;
  width: 150px;
  height: 50px;
  font-family: Helvetica;
  margin-bottom: 100px;
}

.Fetch-gifs:hover {
  background-color: black;
  color: lightgray;
}

.Fetch-gifs:focus {
  outline: none;
}